        body {
            font-family: Arial;
            background: #f4f6f8;
        }

        .card {
            background: white;
            width: 700px;
            margin: 30px auto;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
        }
        h2{
            text-align: left;
            padding: 5px;
            font-style: italic;
        }
        p{
            margin-left: 50px;
            text-align: left;
            text-align: justify;
            text-justify: inter-word;
        }

        button {
            padding: 8px 12px;
            margin: 5px;
            cursor: pointer;
            text-align: left;
        }

        #choices button {
            display: block;
            width: auto;
            margin: 8px auto;
        }

        #subtitle {
            margin-top: 15px;
            font-size: 18px;
            min-height: 30px;
        }

        hr {
            margin: 25px 0;
        }





